/* ---------- Start Card Style ---------- */
.card-img-top {
    object-fit: cover;
    width: 100%;
    height: 14rem;
    border-top-right-radius: 0.9rem;
    border-top-left-radius: 0.9rem;
    border-bottom: 1px solid black;
}
.card {
    width: 20rem;
    height: 25rem;
    perspective: 1000px; /* יוצר אפקט תלת-ממדי */
    border: none; /* הסרת גבול */
    background-color: #fff; /* רקע אחיד */
    padding: 1.5rem 0.5rem;
}

.card-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d; /* לשמור על תלת-ממדיות */
    transition: transform 0.999s; /* זמן המעבר של התהפכות */
}

.card:hover .card-inner {
    transform: rotateY(180deg); /* התהפכות */
}

.card-front,
.card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* חוסם תצוגת החלק האחורי */
    background-color: #fff; /* רקע אחיד לחזית ולגב */
    border: 1px solid black;
}

.card-front {
    color: #000000;
    align-items: center;
    justify-content: center;
    transform: rotateY(0deg); /* הכיוון של החזית */
}

.card-back {
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg); /* הכיוון של הגב */
}
.card-body-back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 1px solid green;
    border-radius: 0.9rem;
}
.btn-div-back,
.btn-div-front {
    position: absolute;
    bottom: 41px;
    left: 7rem;
}
.list-group {
    position: absolute;
    top: 2;
    left: 0;
    overflow-y: auto;
    max-height: 11rem;
    width: 100%;
}
.card-body-front {
    position: absolute;
    width: 100%;
    height: 7.9rem;
    border-bottom-left-radius: 0.9rem;
    border-bottom-right-radius: 0.9rem;
    border: 1px solid black;
    padding: 0.9rem 0;
}
.card-title-front {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    display: block;
    padding: 0 0.8rem;
}

#res {
    margin: 3rem 0.625rem;
}
/* ---------- End Card Style ---------- */
