@import url("https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

/* --------------------Start Navbar Styles -------------------- */
.navbar {
    background: rgba(90, 155, 212, 0.3); /* צבע רך עם שקיפות */
    background: linear-gradient(
        135deg,
        rgba(90, 155, 212, 0.8) 30%,
        /* שקיפות 0.8 */ rgba(135, 206, 235, 0.8) 30%,
        /* שקיפות 0.8 */ rgba(135, 206, 235, 0.8) 50%,
        /* שקיפות 0.8 */ rgba(173, 216, 230, 0.8) 50%,
        /* שקיפות 0.8 */ rgba(173, 216, 230, 0.8) 70%,
        /* שקיפות 0.8 */ rgba(176, 196, 222, 0.8) 70% /* שקיפות 0.8 */
    );
    backdrop-filter: blur(5px);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px,
        rgba(0, 0, 0, 0.1) 0px 100px 100px;

    padding: 15px 20px; /* ריווח פנימי לנאבאר */
}

.navbar-brand {
    font-family: "Protest Guerrilla", sans-serif; /* פונט ייחודי */
    font-weight: 900; /* משקל טקסט עבה */
    font-size: 50px; /* גובה הטקסט */
    letter-spacing: 3.5px; /* רווח בין האותיות */
    color: #2a2a2a; /* צבע טקסט */
    animation-name: slideInLeftLogo; /* אנימציה בעת עליית הדף */
    animation-duration: 1s; /* משך האנימציה */
    animation-fill-mode: both; /* שמירה על מצב סופי של האנימציה */
    transition: color 0.3s ease, transform 0.3s ease; /* מעבר חלק */
    text-align: center; /* מרכז את הטקסט */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); /* צל עדין */
    margin-right: 5px; /* הוספת ריווח לימין הלוגו */
}

.navbar-brand:hover {
    color: #f0f8ff; /* צבע טקסט בזמן ריחוף */
    text-shadow: 1px 15px 31px rgba(0, 0, 0, 0.7); /* הוספת צל חזק יותר */
    transform: scale(1.05); /* הגדלה קלה של הלוגו בזמן ריחוף */
}

/* טיפים נוספים: */
.navbar-nav {
    margin-left: auto; /* דחף את הקישורים לימין */
}

.navbar-collapse > ul > li > a {
    color: #2a2a2a; /* צבע טקסט */
    font-size: 18px; /* גובה הטקסט של הלינקים */
    font-weight: bolder; /* משקל טקסט עבה יותר */
    padding: 10px 15px; /* רווחים מסביב לטקסט */
    letter-spacing: 1.5px; /* ריווח בין האותיות */
    transition: color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* מעבר חלק */
    border-radius: 10px; /* קצוות מעוגלים */
    margin: 0 14px; /* רווחים בין לינקים */
    font-family: "Varela Round", sans-serif; /* פונט */
}

/* אפקט בזמן ריחוף */
.navbar-collapse > ul > li > a:hover {
    color: white; /* צבע טקסט בזמן ריחוף */
    transform: scale(1.05); /* הגדלה קלה של האלמנט */
    text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.6); /* הוספת צל חזק יותר בזמן ריחוף */
    background-color: rgba(
        88,
        137,
        157,
        0.5
    ); /* רקע רך בזמן ריחוף, מבלי להגדיל את האלמנט */
}

/* אפקט בזמן לחיצה */
.navbar-collapse > ul > li > a:active {
    color: #ffffff; /* צבע טקסט כאשר לוחצים */
    transform: scale(0.95); /* הקטנה קלה של האלמנט */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* צל חזק יותר */
}
.custom-btn {
    color: #2a2a2a; /* צבע טקסט */
    font-size: 18px; /* גובה הטקסט של הלינקים */
    font-weight: bolder; /* משקל טקסט עבה יותר */
    padding: 10px 15px; /* רווחים מסביב לטקסט */
    letter-spacing: 1.5px; /* ריווח בין האותיות */
    transition: color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* מעבר חלק */
    border-radius: 10px; /* קצוות מעוגלים */
    margin: 0 14px; /* רווחים בין לינקים */
    font-family: "Varela Round", sans-serif; /* פונט */
}

.custom-btn:hover {
    color: white; /* צבע טקסט בזמן ריחוף */
    transform: scale(1.05); /* הגדלה קלה של האלמנט */
    text-shadow: 1px 1px 15px rgba(0, 0, 0, 0.6); /* הוספת צל חזק יותר בזמן ריחוף */
    background-color: rgba(
        88,
        137,
        157,
        0.5
    ); /* רקע רך בזמן ריחוף, מבלי להגדיל את האלמנט */
}

.custom-btn:active {
    color: #ffffff; /* צבע טקסט כאשר לוחצים */
    transform: scale(0.95); /* הקטנה קלה של האלמנט */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* צל חזק יותר */
}
.form-control {
    border-radius: 25px; /* עיגול פינות */
    padding: 10px 20px; /* ריווח פנימי */
    font-size: 16px; /* גודל טקסט */
    color: #2a2a2a; /* צבע טקסט */
    background-color: #f9f9f9; /* צבע רקע */
    transition: all 0.3s ease; /* מעבר חלק */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* הוספת צל */
}

.form-control:focus {
    box-shadow: 0 0 10px rgba(91, 91, 91, 0.5);
    outline: none;
    background-color: #ffffff;
}

.form-control::placeholder {
    color: #999; /* צבע לטקסט של ה-placeholder */
    font-family: "Varela Round", sans-serif; /* פונט */
}

/* -------------------- End Navbar Styles  -------------------- */
